.background {
    position: relative;
    background-image: url('../../../assets/home/chef-service.jpg'); /* Replace with your image path */
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 50vh;
    background-attachment: fixed;
  }  

  /* Black overlay */
.background::before {
    content: ''; /* Required for pseudo-element */
    position: absolute; /* Absolute positioning within the .background element */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black color with transparency */
    z-index: 1; /* Ensures the overlay is on top of the image */
  }